.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App .container{
  background-color: white;
  padding: 12px 24px;
  border-radius: 8px;
  width: 500px;
}
.App .container .form-box{
  padding: 4px 8px;
}

.App .container .form-box form{
  display: flex;
  gap: 10px;
}

.App .container .form-box input{
  width: 450px;
  height: 24px;
  color: #111;
  font-size: 16px;
}
.App .container .form-box input:focus{
  outline: none;
}

.App .container .form-box button{
  border: none;
  font-weight: bold;
  background-color: purple;
  color: white;
  width: 50px;
  border-radius: 4px;
}

.App .container .todo-list{
  text-align: left;
  display: flex;
}

.isDone {
  text-decoration: line-through;
}
